<div class="panel panel-primary panel-n-b">
  <div class="panel-heading">
    <h3>
      3. {{ 'STEP_TWO_TITLE' | translate }} {{ posAreaExtensiva + 1 }} DE {{calculo.cantidadAreasExtensivas}}
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-md-9">
      <form class="form-horizontal" role="form" key-enter>
        <div class="col-md-12" ng-show="validacion">
          <div class="alert alert-warning">
            <strong>Cantidad de viviendas </strong> que le restan por definir {{ validacion.faltante|number:2 }} viviendas
          </div>
        </div>
        <div class="col-md-12" ng-show="!validacion">
          <div class="alert alert-warning">
            <strong>Cantidad de viviendas </strong> que le restan por definir {{ calculo.areaExtensivaConstruirReq|number:2 }} viviendas
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="control-label col-md-6 col-xs-12" for="numeroViviendas"> ¿{{ 'CUANTAS_VIVIENDAS_CONSTRUIRAN' | translate}}?</label>
          <div class="col-md-2 col-xs-7">
            <input type="text" ui-number-mask="0" maxlength="15" class="form-control input-left"
                   id="numeroViviendas" ng-model="areaExtensiva.numeroViviendas"
                   placeholder="{{ 'CUANTAS_VIVIENDAS_CONSTRUIRAN_PH' | translate }}"  ng-value="{{ controlarCantidadViviendas().faltante | number:2 }} "/>
          </div>
          <div class="col-md-1 col-xs-5">
            <label class="control-label sm"><small>Viviendas</small></label>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="control-label col-md-6 col-xs-12" for="superficieMinimaPredio"> ¿{{ 'SUPERFICIE_MINIMA_PREVIO' | translate}}?</label>
          <div class="col-md-2 col-xs-7">
            <jqx-number-input jqx-settings="numberInputSettings" id="superficieMinimaPredio" ng-model="areaExtensiva.superficieMinimaPredio"></jqx-number-input>
            <!-- <input type="text" ui-number-mask maxlength="15" class="form-control input-left" id="superficieMinimaPredio" ng-model="areaExtensiva.superficieMinimaPredio" placeholder="{{ 'SUPERFICIE_MINIMA_PREVIO_PH' | translate }}" /> -->
          </div>
          <div class="col-md-1 col-xs-5">
            <label class="control-label sm"> <small>m² Predio</small> </label>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="control-label col-md-6 col-xs-12" for="superificieMinimaVivienda">¿{{ 'SUPERFICIE_MINIMA_VIVIENDA' | translate }}?</label>
          <div class="col-md-2 col-xs-7">
            <jqx-number-input jqx-settings="numberInputSettings" id="superificieMinimaVivienda" ng-model="areaExtensiva.superificieMinimaVivienda" ></jqx-number-input>
            <!-- <input type="text" ui-number-mask  maxlength="15" class="form-control input-left" id="superificieMinimaVivienda" ng-model="areaExtensiva.superificieMinimaVivienda" placeholder="{{ 'SUPERFICIE_MINIMA_PREVIO_PH' | translate }}"/> -->
          </div>
          <div class="col-sm-2 col-xs-5">
            <label class="control-label sm"><small>m² Const/Vivienda</small></label>
          </div>
        </div>

        <div class="form-group form-group-sm disable">
          <label class="control-label col-md-6 col-xs-12" for="predioSuperficiePatio">{{ 'PREDIO_SUPERFICIE_PATIO' | translate }}:</label>
          <div class="col-md-2 col-xs-7">
            <!-- <jqx-number-input jqx-settings="numberInputSettings" id="predioSuperficiePatio" ng-model="areaExtensiva.predioSuperficiePatio"></jqx-number-input> -->
            <input tabindex="-1" type="text" ui-number-mask maxlength="15" class="form-control input-left" id="predioSuperficiePatio" ng-model="areaExtensiva.predioSuperficiePatio"/>
          </div>
          <div class="col-md-2 col-xs-5">
            <label class="control-label sm"><small>m² de patio o área libre</small></label>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="control-label col-md-6 col-xs-12" for="numeroPisos"> ¿{{ 'NUMERO_DE_PISOS' | translate}}?</label>
          <div class="col-md-3 col-xs-7">
            <rzslider id="numeroPisos" rz-slider-model="areaExtensiva.numeroPisos" rz-slider-options="sliderOptions.options"></rzslider>
          </div>
          <div class="col-md-1 col-xs-5">
            <label class="control-label sm"><small>Niveles</small></label>
          </div>
        </div>

        <div class="form-group form-group-sm disable">
          <label class="control-label col-md-6 col-xs-12" for="densificacionAreaExtensiva">{{ 'DENSIFICACION_AREA_EXTENSIVA' | translate }}</label>
          <div class="col-md-2 col-xs-7">
            <input tabindex="-1" type="text" maxlength="15" ui-number-mask class="form-control input-left" id="densificacionAreaExtensiva" ng-model="areaExtensiva.densificacionAreaExtensiva"/>
          </div>
        </div>

        <div class="form-group form-group-sm disable">
          <label class="control-label col-sm-6" for="superficieTotalUsoSueloUrbano">{{ 'SUPERFICIE_TOTAL_USO_SUELO_URBANO' | translate }}</label>
          <div class="col-sm-2">
            <input  tabindex="-1" type="text" ui-number-mask class="form-control input-left" id="superficieTotalUsoSueloUrbano" ng-model="areaExtensiva.superficieTotalUsoSueloUrbano"/>
          </div>
          <div class="col-md-2">
            <label class="control-label sm"><small> Ha. Suelo Uso Residencial</small></label>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="control-label col-sm-6" for="superificeTotalAreaExtensiva">{{ 'SUPERFICIE_TOTAL_AREA_EXTENSIVA' | translate }}</label>
          <div class="col-sm-2 col-xs-7">
            <jqx-number-input jqx-settings="numberInputSettings" id="superificeTotalAreaExtensiva" ng-model="areaExtensiva.superificeTotalAreaExtensiva" ></jqx-number-input>
            <!-- <input type="text" ui-number-mask  maxlength="15" class="form-control input-left" id="superificeTotalAreaExtensiva" ng-model="areaExtensiva.superificeTotalAreaExtensiva" placeholder="{{ 'SUPERFICIE_TOTAL_AREA_EXTENSIVA_PH' | translate }}" /> -->
          </div>
          <div class="col-sm-2 col-xs-5">
            <label class="control-label sm"> <small>Ha. Suelo de Otros Usos</small></label>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="control-label col-sm-6" for="coeficienteOcupacionUsoPrivado">¿{{ 'COHEFICIENTE_OCUPACION_USO_PUBLICO' | translate }}?</label>
          <div class="col-sm-1 col-xs-3">
            <input type="text" ui-percentage-mask="0" maxlength="5" class="form-control input-left" id="coeficienteOcupacionUsoPrivado" ng-model="areaExtensiva.porcentajeCoeficienteOcupacionUsoPrivado"/>
          </div>
          <div class="col-sm-2 col-xs-6 disable">
            <input type="text" tabindex="-1" maxlength="15" ui-number-mask class="form-control input-left" id="coeficienteOcupacionUsoPrivado2" ng-model="areaExtensiva.coeficienteOcupacionUsoPrivado"/>
          </div>
          <div class="col-md-2 col-xs-3">
            <!-- <label class="control-label sm"><small>Ha. suelo urbano público</small></label> -->
            <label class="control-label sm"><small>Ha de suelo para usos públicos</small></label>
          </div>
        </div>

        <div class="form-group form-group-sm disable">
          <label class="control-label col-sm-6 col-xs-12" for="coeficienteOcupacionUsoPublico">{{ 'COHEFICIENTE_OCUPACION_USO_PRIVADO' | translate }}</label>
          <div class="col-sm-1 col-xs-3 ">
            <input type="text"  tabindex="-1" ui-percentage-mask="0" class="form-control input-left" id="coeficienteOcupacionUsoPublico"  maxlength="15" ng-model="areaExtensiva.porcentajeCoeficienteOcupacionUsoPublico"/>
          </div>
          <div class="col-sm-2 col-xs-6">
            <!-- <jqx-number-input jqx-settings="numberInputSettings" id="coeficienteOcupacionUsoPublico2" ng-model="areaExtensiva.coeficienteOcupacionUsoPublico"></jqx-number-input> -->
            <input type="text" tabindex="-1" ui-number-mask class="form-control input-left" id="coeficienteOcupacionUsoPublico2" ng-model="areaExtensiva.coeficienteOcupacionUsoPublico"/>
          </div>
          <div class="col-md-2 col-xs-3">
            <label class="control-label sm"><small>Ha. suelo urbano privado</small></label>
          </div>
        </div>

        <div class="form-group form-group-sm disable">
          <label class="control-label col-sm-6" for="superficieAreaUrbana">{{ 'SUPERFICIE_TOTAL_AREA_EXTENSIVA_TOTAL' | translate }}</label>
          <div class="col-sm-2 col-xs-7">
            <input tabindex="-1" type="text" ui-number-mask class="form-control input-left" id="superficieAreaUrbana" ng-model="areaExtensiva.superficieAreaUrbana"/>
          </div>
          <div class="col-md-2 col-xs-5">
            <label class="control-label sm"><small>Ha. suelo urbano</small></label>
          </div>
        </div>

      </form>
    </div>
    <div class="col-md-3">
      <img ng-src="assets/images/ae{{ posAreaExtensiva + 1 }}{{calculo.cantidadAreasExtensivas}}.png" class="img-responsive">
    </div>
    <div class="panel-footer">
      <button ng-click="volverAtras()" class="btn btn-danger">{{ 'ATRAS' | translate}}</button>
      <button ng-click="validacionPasoDos()" class="btn btn-primary pull-right">{{ 'NEXT' | translate }}</button>
    </div>
  </div>
