<div class="panel panel-primary panel-n-b">
    <div class="panel-heading">
        <h3>
            4. {{ 'STEP_THREE_TITLE' | translate }}
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" key-enter>
            <div class="col-md-8">
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-6"><span class="h3">VIVIENDA</span></label>
                </div>
                <div class="form-group form-group-sm disable">
                    <label class="control-label col-sm-6" for="viviendasAreaIntensiva">En el área intesiva se construiran:</label>
                    <div class="col-md-2 col-sm-2 col-xs-7">
                        <input tabindex="-1" type="text" ui-number-mask="0"
                               class="form-control input-left" id="viviendasAreaIntensiva" ng-model="calculo.areaIntensivaConstruirReq"/>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Viviendas</small></label>
                    </div>
                </div>
                <div class="form-group form-group-sm disable">
                    <label class="control-label col-sm-6" for="viviendasAreaExtensiva">En el área extensiva se construiran:</label>
                    <div class="col-sm-2 col-xs-7">
                        <input tabindex="-1" type="text" ui-number-mask="0"
                               class="form-control input-left" id="viviendasAreaExtensiva" ng-model="calculo.areaExtensivaConstruirReq"/>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Viviendas</small></label>
                    </div>
                </div>
                <div class="form-group form-group-sm disable">
                    <label class="control-label col-sm-6" for="totalViviendas">TOTAL DE VIVIENDAS EN EL ÁREA URBANA:</label>
                    <div class="col-sm-2 col-xs-7">
                        <input tabindex="-1" type="text" ui-number-mask="0" class="form-control input-left" id="totalViviendas"
                               ng-model="calculo.sumaTotalViviendas"/>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Viviendas</small></label>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-6"><span class="h3">VIVIENDA SOCIAL</span></label>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-6" for="viviendaSocialIntensiva">{{ 'VIVIENDAS_SOCIALES_AREA_INTENSIVA' | translate }}</label>
                    <div class="col-sm-2 col-xs-7">
                        <input type="text" ui-number-mask="0" class="form-control input-left" id="viviendaSocialIntensiva"
                        ng-model="calculo.viviendaSocialIntensiva"
                               placeholder="{{ 'VIVIENDAS_CONSTRUIR_PH' | translate }}">
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Viviendas</small></label>
                    </div>
                </div>


                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-6" for="viviendaSocialExtensiva">{{ 'VIVIENDAS_SOCIALES_AREA_EXTENSIVA' | translate }}</label>
                    <div class="col-sm-2 col-xs-7">
                        <input type="text" ui-number-mask="0" class="form-control input-left" id="viviendaSocialExtensiva"
                               ng-model="calculo.viviendaSocialExtensiva" placeholder="{{ 'VIVIENDAS_CONSTRUIR_PH' | translate }}"/>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Viviendas</small></label>
                    </div>
                </div>


                <div class="form-group form-group-sm disable">
                    <label class="control-label col-sm-6" for="totalViviendaSocial">{{ 'TOTAL_VIVIENDAS_SOCIALES' | translate }}:</label>
                    <div class="col-sm-2 col-xs-7">
                        <input tabindex="-1" type="text" ui-number-mask="0" class="form-control input-left" id="totalViviendaSocial"
                               ng-model="calculo.totalViviendaSocial"/>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Viviendas</small></label>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-6"><span class="h3">SUPERFICIES</span></label>
                </div>

                <div class="form-group form-group-sm disable">
                    <label class="control-label col-sm-6" for="superficeAreaExtensiva">La superficie total del área urbana extensiva es de:</label>
                    <div class="col-sm-2 col-xs-7">
                        <input tabindex="-1" type="text" ui-number-mask class="form-control input-left" id="superficeAreaExtensiva"
                        ng-model="calculo .superficieAreaUrbana" placeholder="{{ 'SUPERFICIE_AREA_URBANA_PROTECCTION_PH' | translate }}">
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Ha. suelo urbano</small></label>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-6" for="superficeAreaIntensiva">La superficie total del área urbana intensiva es de:</label>
                    <div class="col-sm-2 col-xs-7">
                      <jqx-number-input jqx-settings="numberInputSettings" id="superficeAreaIntensiva"
                      ng-model="calculo.superficeAreaIntensiva"></jqx-number-input>
<!--  -->
                        <!-- <input tabindex="-1" type="text" ui-number-mask class="form-control input-left" id="superficeAreaIntensiva" ng-model="calculo .superficieAreaUrbana" placeholder="{{ 'SUPERFICIE_AREA_URBANA_PROTECCTION_PH' | translate }}"> -->
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Ha. suelo urbano</small></label>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-6" for="superficieAreaProteccion">{{ 'SUPERFICIE_AREA_URBANA_PROTECCTION' | translate }}:</label>
                    <div class="col-sm-2 col-xs-7">
                        <!-- <input type="text" ui-number-mask class="form-control input-left" id="superficieAreaProteccion" ng-model="calculo.superficieAreaProteccion" placeholder="{{ 'SUPERFICIE_AREA_URBANA_PROTECCTION_PH' | translate }}"> -->
                        <jqx-number-input jqx-settings="numberInputSettings" id="superficieAreaProteccion"
                        ng-model="calculo.superficieAreaProteccion"></jqx-number-input>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Ha. suelo urbano</small></label>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-6" for="superficieAreaAgropecuaria">{{ 'SUPERFICIE_AREA_URBANA_AGREOPECUARIA' | translate }}:</label>
                    <div class="col-sm-2 col-xs-7">
                        <jqx-number-input jqx-settings="numberInputSettings" id="superficieAreaAgropecuaria"
                        ng-model="calculo.superficieAreaAgropecuaria" ></jqx-number-input>
                        <!-- <input  type="text" ui-number-mask class="form-control input-left" id="superficieAreaAgropecuaria" ng-model="calculo.superficieAreaAgropecuaria" placeholder="{{ 'SUPERFICIE_AREA_URBANA_PROTECCTION_PH' | translate }}"/> -->
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Ha. suelo urbano</small></label>
                    </div>
                </div>

                <div class="form-group form-group-sm disable">
                    <label class="control-label col-sm-6" for="superficieFuturaAreaUrbana">{{ 'SUPERFICIE_FUTURA_AREA_URBANA' | translate }}:</label>
                    <div class="col-sm-2 col-xs-7">
                        <input tabindex="-1" type="text" ui-number-mask class="form-control input-left" id="superficieFuturaAreaUrbana"
                        ng-model="calculo.superficieFuturaAreaUrbana"/>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>Ha. suelo urbano</small></label>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-6"><span class="h3">PARÁMETROS URBANÍSTICOS</span></label>
                </div>
                <div class="form-group form-group-sm disable">
                    <label class="control-label col-sm-6" for="indiceDensificacion">Índice de Densificación Urbana – IDU</label>
                    <div class="col-sm-2 col-xs-7">
                        <input tabindex="-1" type="text" ui-number-mask="2"
                        class="form-control input-left" id="indiceDensificacion" ng-model="calculo.densificacionAreaExtensiva"/>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <label class="control-label sm"><small>m² suelo/m² const.</small></label>
                    </div>
                </div>
                <div class="form-group form-group-sm disable">
                    <label class="control-label col-sm-6" for="coheficientePublico">Coeficiente de Ocupación Predial Neta – COPN:</label>
                    <div class="col-sm-2 col-xs-7">
                        <input tabindex="-1" type="text" ui-percentage-mask="2" class="form-control input-left"
                         id="coheficientePublico" ng-model="calculo.porcentajeCoeficienteOcupacionUsoPublico"/>
                    </div>
                    <div class="col-md-2 col-xs-5">
                    </div>
                </div>
                <div class="form-group form-group-sm disable">
                    <label class="control-label col-sm-6" for="cohefientePrivado">Coeficiente de Usos Públicos – CUP:</label>
                    <div class="col-sm-2 col-xs-7">
                        <input tabindex="-1" type="text" ui-percentage-mask="2" class="form-control input-left"
                        id="cohefientePrivado" ng-model="calculo.porcentajeCoeficienteOcupacionUsoPrivado"/>
                    </div>
                    <div class="col-md-2 col-xs-5">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="assets/images/aef.png" class="img-responsive">
            </div>
        </form>
    </div>

    <div class="panel-footer">
        <button ng-click="volverAtras()" class="btn btn-danger">{{ 'ATRAS' | translate}}</button>
        <button wz-next class="btn btn-primary pull-right">{{ 'NEXT' | translate }}</button>
    </div>
</div>
