  <div class="panel panel-primary panel-n-b">
    <div class="panel-heading">
      <h3>
        2. {{ 'STEP_ONE_TITLE' | translate }}
      </h3>
    </div>
    <div class="panel-body">
      <div class="col-md-9">
        <form class="form-horizontal" role="form" key-enter>
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6"><span class="h3">EN EL AREA URBANA INTENSIVA</span></label>
          </div>

          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6" for="deficitCuantitativo"> ¿{{ 'POBLACION_AREA_EXTENSIVA' | translate}}?</label>
            <div class="col-sm-2 col-xs-7">
              <!-- <jqx-number-input jqx-settings="numberInputSettings" id="poblacionActualAreaIntensiva" ng-model="calculo.poblacionActualAreaIntensiva"></jqx-number-input> -->
              <input type="text" ui-number-mask="0" maxlength="15"
              class="form-control input-left" id="poblacionActualAreaIntensiva"
              placeholder="{{ 'POBLACION_AREA_EXTENSIVA_PH'| translate }}"  ng-model="calculo.poblacionActualAreaIntensiva">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"> <small> Hab</small> </label>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6" for="deficitCuantitativo"> ¿Cuál es el déficit habitacional actual del área urbana?</label>
            <div class="col-sm-2 col-xs-7">
              <input type="text" ui-number-mask="0" maxlength="15" class="form-control input-left"
                     id="deficitCuantitativo" placeholder="Ingrese el déficit"
                     ng-model="calculo.deficitCuantitativo">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"> <small> Viviendas</small> </label>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6" for="deficitHabitacionalAreaIntensiva">¿Cúal será la cantidad de viviendas del déficit actual a disponer en el área urbana intensiva?</label>
            <div class="col-sm-2 col-xs-7">
              <input type="text" ui-number-mask="0" maxlength="15" class="form-control input-left"
                 id="deficitHabitacionalAreaIntensiva" placeholder="Ingrese la cantidad de viviendas"
                 ng-model="calculo.deficitHabitacionalAreaIntensiva">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"> <small> Viviendas</small> </label>
            </div>
          </div>

          <div class="form-group form-group-sm disable">
            <label class="control-label col-sm-6" for="deficitHabitacionalAreaExtensiva"> Entonces, la cantidad de viviendas del déficit habitacional a disponer en el área urbana extensiva sera:</label>
            <div class="col-sm-2 col-xs-7">
              <input type="text" ui-number-mask="0" maxlength="15" class="form-control input-left" tabindex="-1"
                 id="deficitHabitacionalAreaExtensiva" placeholder="Ingrese la cantidad de viviendas"
                 ng-model="calculo.deficitHabitacionalAreaExtensiva">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"> <small> Viviendas</small> </label>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6"><span class="h3">EN EL AREA URBANA EXTENSIVA</span></label>
          </div>

          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6" for="poblacionAreaIntensiva">¿{{ 'CUAL_POBLACION_AREA_EXTENSIVA' | translate}}?</label>
            <div class="col-md-2 col-xs-7">
              <input type="text" ui-number-mask="0" maxlength="15" class="form-control input-left" id="poblacionAreaIntensiva" placeholder="{{ 'POBLACION_AREA_EXTENSIVA_PH'| translate }}"  ng-model="calculo.poblacionAreaIntensiva">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"> <small>Hab</small></label>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6" for="miembrosFamilia">¿{{ 'MIEMBROS_FAMILIA' | translate }}?</label>
            <div class="col-sm-2 col-xs-7">
              <jqx-number-input jqx-settings="numberInputSettings" id="miembrosFamilia" name="miembrosFamilia"
                  ng-model="calculo.miembrosFamilia"
              ></jqx-number-input>
              <!-- <input type="text" ui-number-mask="2" maxlength="5" class="form-control input-left" id="miembrosFamilia" placeholder="{{ 'MIEMBROS_FAMILIA_PH' | translate }}"
                     ng-model="calculo.miembrosFamilia"> -->
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"><small>Hab./Hog.</small></label>
            </div>
          </div>

          <div class="form-group form-group-sm disable">
            <label class="control-label col-sm-6" for="cincoAnios">{{ 'CINCO_ANIOS_REQUERIRA' | translate }}</label>
            <div class="col-md-2 col-xs-7">
              <input tabindex="-1" type="text" ui-number-mask="0" maxlength="15" class="form-control input-left" id="cincoAnios" ng-model="calculo.cincoAnios">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"><small>Viviendas</small></label>
            </div>
          </div>

          <div class="form-group form-group-sm" ng-if="calculo.deficitHabitacionalAreaIntensiva != 0">
            <label class="control-label col-sm-6" for="viviendasConstruir">¿{{ 'VIVIENDAS_CONSTRUIR' | translate }}?</label>
            <div class="col-md-2 col-xs-7">
              <input type="text"  ui-number-mask="0"  maxlength="15" class="form-control input-left" id="viviendasConstruir"
                     placeholder="{{ 'VIVIENDAS_CONSTRUIR_PH' | translate }}" ng-model="calculo.viviendasConstruir">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"><small>Viviendas</small></label>
            </div>
          </div>

          <div class="form-group form-group-sm disable" ng-if="calculo.deficitHabitacionalAreaIntensiva == 0">
            <label class="control-label col-sm-6" for="viviendasConstruir">¿{{ 'VIVIENDAS_CONSTRUIR' | translate }}?</label>
            <div class="col-md-2 col-xs-7">
              <input type="text"  ui-number-mask="0" tab-index="-1" maxlength="15" class="form-control input-left" id="viviendasConstruir"
                     placeholder="{{ 'VIVIENDAS_CONSTRUIR_PH' | translate }}" ng-model="calculo.viviendasConstruir">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"><small>Viviendas</small></label>
            </div>
          </div>

          <div class="form-group form-group-sm disable">
            <label class="control-label col-sm-6" for="areaExtensivaConstruir">{{'AREA_CONSTRUIRAN' | translate}}</label>
            <div class="col-md-2 col-xs-7">
              <input  tabindex="-1" type="text" ui-number-mask="0" class="form-control input-left"
                      maxlength="15" id="areaExtensivaConstruir" ng-model="calculo.areaExtensivaConstruir">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"><small>Viviendas</small></label>
            </div>
          </div>
          <hr>
          <div class="form-group form-group-sm disable">
            <label class="control-label col-sm-6" for="requisitoAreaIntensiva">En total se requeriran construir en el área urbana intensiva:</label>
            <div class="col-md-2 col-xs-7">
              <input  tabindex="-1" type="text" ui-number-mask="0" class="form-control input-left" maxlength="15"
                      id="requisitoAreaIntensiva" ng-model="calculo.areaIntensivaConstruirReq">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"><small>Viviendas</small></label>
            </div>
          </div>
          <div class="form-group form-group-sm disable">
            <label class="control-label col-sm-6" for="requisitoAreaExtensiva">En total se requeriran construir en el área urbana extensiva:</label>
            <div class="col-md-2 col-xs-7">
              <input  tabindex="-1" type="text" ui-number-mask="0" class="form-control input-left" maxlength="15"
                      id="requisitoAreaExtensiva" ng-model="calculo.areaExtensivaConstruirReq">
            </div>
            <div class="col-md-1 col-xs-5">
              <label class="control-label sm"><small>Viviendas</small></label>
            </div>
          </div>
          <hr>
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-6" for="cantidadAreasExtensivas">{{'CANTIDAD_AREAS_EXTENSIVAS' | translate}}</label>
            <div class="col-md-4 col-xs-7">
              <rzslider id="cantidadAreasExtensivas" rz-slider-model="calculo.cantidadAreasExtensivas"
                        rz-slider-options="aresOptions"></rzslider>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <img ng-src="assets/images/aei.png" class="img-responsive">
      </div>
    </div>
    <div class="panel-footer">
      <button ng-click="volverAtras()" class="btn btn-danger">{{ 'ATRAS' | translate}}</button>
      <button wz-next class="btn btn-primary pull-right">{{ 'NEXT' | translate }}</button>
    </div>
  </div>
