<div class="panel panel-primary panel-n-b">
<div class="panel-heading">
    <h3>
        1. {{ 'FIRST_TITLE' | translate }}
    </h3>
</div>
<div class="panel-body">
    <form class="form-horizontal" role="form" key-enter>
      <div class="form-group form-group-sm">
          <label class="control-label col-md-5 col-xs-12" for="areaUrbana">{{ 'AREA_URBANA' | translate }}</label>
          <div class="col-md-4 col-xs-7">
              <input type="text"  maxlength="15" class="form-control" id="areaUrbana" ng-model="calculo.areaUrbana"
                     placeholder="{{ 'AREA_URBANAPH' | translate }}"/>
          </div>
      </div>

        <div class="form-group form-group-sm">
            <label class="control-label col-md-5 col-xs-12" for="municipio"> {{ 'MUNICIPIO' | translate}}</label>
            <div class="col-md-4 col-xs-7">
                <input type="text" maxlength="15" class="form-control" id="municipio" ng-model="calculo.municipio"
                       placeholder="{{ 'MUNICIPIOPH' | translate }}" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="control-label col-md-5 col-xs-12" for="departamento"> {{ 'DEPARTAMENTO' | translate}}</label>
            <div class="col-md-2 col-xs-7">
                <select id="departamento" ui-select2 ng-model="calculo.departamento" width="100%" data-placeholder="{{ 'DEPARTAMENTOPH' | translate}}">
                    <option value=""></option>
                    <option ng-repeat="dep in departamentos" value="{{dep.name}}">{{dep.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="control-label col-md-5 col-xs-12" for="profesional">{{ 'PROFESIONAL_SOLICITANTE' | translate }}</label>
            <div class="col-md-4 col-xs-7">
                <input type="text" maxlength="15" class="form-control" id="profesional" ng-model="calculo.profesional"
                 placeholder="{{ 'PROFESIONAL_SOLICITANTEPH' | translate }}"/>
            </div>
        </div>
    </form>
</div>
<div class="panel-footer">
    <button ng-click="volverAtras()" class="btn btn-danger">{{ 'CANCELAR' | translate}}</button>
    <button wz-next class="btn btn-primary pull-right">{{ 'NEXT' | translate }}</button>
</div>
</div>
