<wizard on-finish="finalizar()" edit-mode="canBack()" hide-indicators="false">
    <wz-step canenter="validacionesIngreso.informacion" wz-title="{{ 'FIRST_TITLE' | translate }}"
        canexit="validacionInformacion">
        <ng-include src="'app/main/informacion.html'"></ng-include>
    </wz-step>

    <wz-step canenter="validacionesIngreso.hogares" wz-title="{{ 'STEP_ONE_TITLE' | translate }}"
        canexit="validacionPasoUno">
        <ng-include src="'app/main/horaresAreaUrbana_uno.html'"></ng-include>
    </wz-step>

    <wz-step canenter="validacionesIngreso.areaExtensiva" wz-title="{{ 'STEP_TWO_TITLE' | translate }}" >
        <ng-include src="'app/main/areaExtensiva_dos.html'"></ng-include>
    </wz-step>

    <wz-step  canenter="validacionesIngreso.areasExtensivas" wz-title="{{ 'STEP_THREE_TITLE' | translate }}"
      canexit="validacionPasoTres">
        <ng-include src="'app/main/area_extensiva_total_tres.html'"></ng-include>
    </wz-step>

    <wz-step  wz-title="{{ 'FINISH' | translate }}">
        <ng-include src="'app/main/print.html'" ></ng-include>
    </wz-step>
</wizard>
