<div class="panel panel-primary">
  <div class="panel-body">
  </div>
  <div ng-show="false" id="div_report" class="container" style="font-size: 7px; width: 100%">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
        <img  class="img-reponsive" src="assets/images/mopsv.png" align="left">
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8" style="text-align:center">
        <span class="h3" >
          <strong >
            Estado Plurinacional de Bolivia
          </strong>
          <br>
          <small >Ministerio de Obras Publicas Servicio y Vivienda</small>
        </span>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
        <img  class="img-reponsive" src="assets/images/mopsv.png" align="right">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <td>TIPO</td><td>DESCRIPCION</td><td>UNIDAD</td><td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="3">PARAMETROS URBANISTICOS</td>
              <td style="font-size: 0.6em">Indice de Densificacion del Area Urbana</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo.densificacionAreaExtensiva|number:2}}</td>
              <td style="font-size: 0.6em;">Sup. suelo/Nro. Pisos</td>
            </tr>
            <tr>
              <td style="font-size: 0.6em">Cohefiente total de Vivienda Area Urbana</td>
              <td style="font-size: 0.6em;text-align:right;">{{(calculo.porcentajeCoeficienteOcupacionUsoPublico * 100)|number:2}}</td>
              <td style="font-size: 0.6em;">% de terreno</td>
            </tr>
            <tr>
              <td style="font-size: 0.6em">Cohefiente de Usos Publicos - CUP</td>
              <td style="font-size: 0.6em;text-align:right;">{{(calculo.porcentajeCoeficienteOcupacionUsoPrivado * 100)|number:2}}</td>
              <td style="font-size: 0.6em;">% de terreno</td>
            </tr>
            <tr>
              <td rowspan="4">VIVIENDA</td>
              <td style="font-size: 0.6em">Cantidad total de Viviendas Area Urbana Intensiva</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo.areaIntensivaConstruirReq|number:2}}</td>
              <td style="font-size: 0.6em;">Vivienda</td>
            </tr>
            <tr>
              <td style="font-size: 0.6em">Cantidad total de Viviendas Area Urbana Extensiva</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo.areaExtensivaConstruirReq|number:2}}</td>
              <td style="font-size: 0.6em;">Vivienda</td>
            </tr>
            <tr>
              <td style="font-size: 0.6em">Cantidad total de Viviendas Social Asignadas en el Area Urbana Intensiva</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo.viviendaSocialIntensiva|number:2}}</td>
              <td style="font-size: 0.6em;">Vivienda Social</td>
            </tr>
            <tr>
              <td style="font-size: 0.6em">Cantidad total de Viviendas Social Asignadas en el Area Urbana Extensiva</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo.viviendaSocialExtensiva|number:2}}</td>
              <td style="font-size: 0.6em;">Vivienda Social</td>
            </tr>
            <tr>
              <td rowspan="5">SUPERFICIES</td>
              <td style="font-size: 0.6em">Area Urbana Intensiva</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo.superficeAreaIntensiva|number:2}}</td>
              <td style="font-size: 0.6em;">m², ha, km²</td>
            </tr>
            <tr>
              <td style="font-size: 0.6em">Area Urbana Extensiva</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo .superficieAreaUrbana|number:2}}</td>
              <td style="font-size: 0.6em;">m², ha, km²</td>
            </tr>
            <tr>
              <td style="font-size: 0.6em">Area Urbana de Proteccion</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo.superficieAreaProteccion|number:2}}</td>
              <td style="font-size: 0.6em;">m², ha, km²</td>
            </tr>
            <tr>
              <td style="font-size: 0.6em">Area Urbana Productiva</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo.superficieAreaAgropecuaria|number:2}}</td>
              <td style="font-size: 0.6em;">m², ha, km²</td>
            </tr>
            <tr>
              <td style="font-size: 0.6em">AREA URBANA GENERAL</td>
              <td style="font-size: 0.6em;text-align:right;">{{calculo.superficieFuturaAreaUrbana|number:2}}</td>
              <td style="font-size: 0.6em;">m², ha, km²</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--<div class="col-md-12">-->
    <!--<table class="table">-->
    <!--<thead><h4>VIVIENDA SOCIAL</h4></thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td style="font-size: 0.6em" class="col-md-7 col-lg-7 col-xs-7 col-sm-7">{{ 'VIVIENDAS_SOCIALES_AREA_INTENSIVA' | translate}}</td>-->
    <!--<td style="font-size: 0.6em;text-align:right;" class="col-md-4 col-lg-4 col-sm-4 col-xs-4" >{{calculo.viviendaSocialIntensiva | number:2}}</td>-->
    <!--<td style="font-size: 0.6em" class="col-md-1 col-lg-1 col-xs-1 col-sm-1"><small>(Viviendas)</small></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td style="font-size: 0.6em" class="col-md-7 col-lg-7 col-xs-7 col-sm-7">{{ 'VIVIENDAS_SOCIALES_AREA_EXTENSIVA' | translate}}</td>-->
    <!--<td style="font-size: 0.6em;text-align:right;" class="col-md-4 col-lg-4 col-sm-4 col-xs-4" >{{calculo.viviendaSocialExtensiva | number:2}}</td>-->
    <!--<td style="font-size: 0.6em" class="col-md-1 col-lg-1 col-xs-1 col-sm-1"><small>(Viviendas)</small></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td style="font-size: 0.6em" class="col-md-7 col-lg-7 col-xs-7 col-sm-7">{{ 'TOTAL_VIVIENDAS_SOCIALES' | translate}}</td>-->
    <!--<td style="font-size: 0.6em;text-align:right;" class="col-md-4 col-lg-4 col-sm-4 col-xs-4" >{{calculo.totalViviendaSocial | number:2}}</td>-->
    <!--<td style="font-size: 0.6em" class="col-md-1 col-lg-1 col-xs-1 col-sm-1"><small>(Viviendas)</small></td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <qrcode ng-show="false" id="qr_code" data="{{currentDate}}"></qrcode>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="pull-right" id="codigoQr"></div>
    </div>
  </div>

</div>
<div class="panel-footer">
  <button ng-click="cancelar()" class="btn btn-danger">{{ 'CANCELAR' | translate}}</button>
  <button wz-next class="btn btn-primary pull-right">{{ 'IMPRIMIR' | translate }}</button>
</div>
</div>
<hr>
