/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

$disable-field: #5C99FF;
$disable-input-color: #B7DFFF;
$background-vivienda: #337ab7;
$background-vivienda_2: #337fc9;
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
.panel {
  border-radius: 0px;
  .panel-heading {
    background-color: $background-vivienda;
    border-radius: 0px;
  }
  .panel-footer {
    height: 50px;
  }
}

.btn .btn-primary{
  border-radius:0 px;
}


.input-left{
    text-align: right;
}

.disable{
  pointer-events: none;

  label {
    color: $disable-field;
  }
  input {
    background-color: $disable-input-color;
    border: 1px solid $disable-field;
  }
}

.header {
  background-color: $background-vivienda;
}
.title {
  color: white;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


.input-number{
  text-align: right;
}

$wz-color-default: #E6E6E6;
$wz-color-current: #339933;
$wz-color-done:    #808080;
$wz-color-editing: #FF0000;

.steps-indicator {

  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 20px 0 0 0;
  height: 30px;
  list-style: none;

  &:before {
    background-color: $wz-color-default;
    content: '';
    position: absolute;
    height: 1px;
  }

  li {

    a {
      &:before {
        background-color: $wz-color-default;
      }

      &:hover {
        color: darken($wz-color-current, 20%);
      }
    }
  }


  li.default {
    pointer-events: none;

    a:hover {
      color: $wz-color-current;
    }
  }

  li.current a:before {
    background-color: $wz-color-current;
  }

  li.done a:before {
    background-color: $wz-color-done;
  }

  li.editing a:before {
    background-color: $wz-color-editing;
  }
}

.jqx-input-content{
  font-size: 11px !important;
  color: #6f6a6a !important;
  border-radius: 1px !important;
  &:hover{
    border: 0px solid rgb(102, 166, 177) !important;
  }
}
.jqx-input{
  border-radius: 1px !important;
  &:hover{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}
