<!doctype html>
<html ng-app="vivienda">
    <head>
        <meta charset="utf-8">
        <title>SISTEMA DAU – IDENTIFICACIÓN DEL ÁREA URBANA EXTENSIVA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <!-- run `gulp inject` to automatically populate bower styles dependencies -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <!-- css files will be automatically insert here -->
        <!-- endinject -->
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- <div class="row"> -->
            <div class="col-md-12 header ">
                <div class="col-md-2">
                    <img class="img-reponsive" src="assets/images/mopsv.png" alt="">
                </div>

                <div class="col-md-10">
                    <div class="">
                        <h3 class="title">
                            <strong>
                            {{ 'TITLE' | translate }}
                            </strong>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
              <hr>
            </div>
            <div ui-view>
            </div>
        <!-- </div> -->
        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <!-- run `gulp inject` to automatically populate bower script dependencies -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- jqwidgets:js -->
        <!-- endinject -->

        <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
        <!-- inject:js -->
        <!-- js files will be automatically insert here -->
        <!-- endinject -->

        <!-- inject:partials -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!-- endbuild -->
    </body>
</html>
